
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Food", "Details", new { Categories = "Food" },null)</li>
        <li>@Html.ActionLink("Tech", "Details", new { Categories = "Tech" }, null)</li>
        <li>@Html.ActionLink("Sports", "Details", new { Categories = "Sports" }, null)</li>
    </ul>
</div>

